{{#each this}}
<li class="gallery-item">
    <div class="photo-card">
        <img src="{{this.webformatURL}}" alt="" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons icon">thumb_up</i>
                {{this.likes}} лайков
            </p>
            <p class="stats-item">
                <i class="material-icons icon">visibility</i>
                {{this.views}} просмотров
            </p>
            <p class="stats-item">
                <i class="material-icons icon">comment</i>
                {{this.comments}} комментариев
            </p>
            <p class="stats-item">
                <i class="material-icons icon">cloud_download</i>
                {{this.downloads}} загрузок
            </p>
        </div>
    </div>

</li>
{{/each}}